<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.mycan1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >


        <activity android:name=".MainActivity"
            android:label="Home">
        </activity>
        <activity android:name=".LoginActivity"
            android:label="Sign In"/>

        <activity android:name=".SignUpActivity"
            android:label="Sign Up"/>
        <activity android:name=".EnterReceiptIdActivity"
            android:label="Enter Receipt ID"/>
        <activity android:name=".InvoiceItemsListActivity"
            android:label="Invoice Items"/>
        <activity android:name=".InvoiceItemsListEditActivity"
            android:label="Edit Items"/>
        <activity android:name=".ProfileActivity"
            android:label="Profile Info"/>
        <activity android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ShoppingListActivity"
            android:label="Shopping List"/>
        <activity android:name=".FamilyMembersActivity"
            android:label="Family Members"/>


    </application>
</manifest>
